<div class="container-fluid">
  <div class="row-fluid">
  <div class="col-md-12">
    <div class="component">
      <div class="component-title">
        <h2>Post a topic</h2>
      </div>
      <div class="component-body">
        <form>

          <div class="form-group">
            <label>Topic Subject</label>
          <input type="text" class="form-control" placeholder="Text input" name="title"   [(ngModel)]="article.title">
          </div>

          <div class="form-group">
          <label>Topic Text</label>
            <textarea class="form-control" rows="3" [(ngModel)]="article.body" name="body" (keyup)="updateOutput($event.target.value)" ></textarea>
            <!--<textarea [(ngModel)]="article.body" name="body" (keyup)="updateOutput($event.target.value)" id="" cols="30" rows="35"></textarea>-->
          </div>


          <div class="col-lg-12">
            <a class="btn btn-primary" (click)="save(article)">Publish Topic</a>

          </div>

          <div class="clear"></div>


        </form>
      </div>
    </div>
  </div>

</div>
</div>
