<div class="container-fluid">
<div class="row-fluid">
	<div class="col-md-12">
		<div class="component">
			<div class="component-title">
				<h2>All Articles</h2>
			</div>
			<div class="table-responsive">
        <br/>
				<table class="table">
					<thead>
						<th>Posted By</th>
						<th>Topic</th>
						<th>Date Posted</th>
						<th>Views</th>
						<th>Edit</th>
					</thead>
					<tbody>
						<tr *ngFor="let article of articles">
							<td>
								<img class="circle responsive-img" src="https://avatars1.githubusercontent.com/u/3332224?v=3&s=460" />
							</td>
							<td>{{ article.title }}</td>
							<td>{{ article.created_at }}</td>
							<td>{{ article.views }}</td>
							<td>
								<a routerLink="/article/edit/{{ article.id }}" class="btn-floating"><i class="ion ion-ios-search">Edit</i></a>
							</td>
						</tr>
					</tbody>
				</table>



			</div>

      <div class="topic-list-footer row">
        <div class="col-md-2">
          <button routerLink="/article/new" class="btn">New Article</button>
        </div>

        <div class="col-md-10">
          <div class="text-center">
              <ul class="pagination"><li class="active"><span>1</span></li>
              <li><a title="Go to page 2" href="/forums/cfa-forums/cfa-level-iii-forum?page=1">2</a></li>
              <li><a title="Go to page 3" href="/forums/cfa-forums/cfa-level-iii-forum?page=2">3</a></li>
              <li class="pager-ellipsis disabled"><span>…</span></li>
              <li class="next"><a title="Go to next page" href="/forums/cfa-forums/cfa-level-iii-forum?page=1">next ›</a></li>
              <li class="pager-last"><a title="Go to last page" href="/forums/cfa-forums/cfa-level-iii-forum?page=1137">last »</a></li>
            </ul>
          </div>
        </div>
      </div>
		</div>
	</div>
  <!--<div class="col-md-12">

    <div class="component">
            <div class="component-title">
                <h2>Search</h2>
            </div>
            <div class="component-body">
                <br/>
                <div class="input-field">
                    <input id="article_title" type="text" class="validate">
                    <label class="active" for="article_title">Article Title</label>
                </div>
                <div>
                    <button class="btn" type="submit" name="action"><i class="ion ion-search"></i> Search</button>
                </div>
                <div class="clear"></div>
            </div>
        </div>
  </div>-->
</div>
</div>
