

<div class="vertical-middle " >
  <div class="container">


      <div class="panel-heading ">
        <h3 class="panel-title">Contact Us</h3>
      </div>

        <form [formGroup]="contactform"  name="contactform" method="post" (ngSubmit)="submitMessage()"
              action="" class="form-horizontal" role="form">
          <div class="form-group" >
            <label for="Name" class="col-lg-2 control-label">Name</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="name"  formControlName="name"
                     placeholder="Your Name" >
              <div  *ngIf="name.touched && name.invalid" class="alert alert-danger">Name is required.</div>
            </div>
          </div>
          <div class="form-group" >
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
              <input  type="email" class="form-control" id="email"
                      formControlName="email" placeholder="Your Email">
              <div *ngIf="email.touched && email.invalid"  class="alert alert-danger">

               <div *ngIf="email.errors.required" > Email is required.</div>
              <div *ngIf="email.errors.email" >Email is invalid.</div>
            </div>
            </div>
          </div>
          <div class="form-group" >
            <label for="subject" class="col-lg-2 control-label">Subject</label>
            <div class="col-lg-10">
              <input type="text" class="form-control" id="subject" formControlName="subject" placeholder="Subject Message" >
              <div *ngIf="subject.touched && subject.invalid"  class="alert alert-danger">Subject is required.</div>
            </div>
          </div>
          <div class="form-group" >
            <label for="message" class="col-lg-2 control-label">Message</label>
            <div class="col-lg-10">
              <textarea class="form-control" rows="4" id="message"
                        formControlName="message" placeholder="Your message..." ></textarea>
              <div *ngIf="message.touched && message.invalid"  class="alert alert-danger">Message is required.</div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
              <button type="submit" class="btn btn-primary" ng-disabled="submitButtonDisabled">
                Send Message
              </button>
            </div>
          </div>
        </form>

    </div>

</div>
