<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-md-8">
      <!--<img class="img-responsive img-rounded" src="../../assets/dist/img/PaperExam1024x500.png" alt="">-->
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.youtube.com/embed/Vc_7RW-Dw7E?ecver=2"
                class="embed-responsive-item" frameborder="0" allowfullscreen>
        </iframe>
      </div>
    </div>
    <!-- /.col-md-8 -->
    <div class="col-md-4">
      <h1>Bright Analyst</h1>
      <p>At BrightAnalyst, we're harnessing the power of online education in new, innovative ways. Combining the newest research with proven teaching methodology, we're inspiring analysts to take control of their classroom experience.</p>
      <a class="btn btn-primary btn-lg" href="#">Enter</a>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <hr>
  <!-- Call to Action Well -->
  <div class="row">
    <div class="col-lg-12">
      <div class="well text-center">
        <h2 style="text-align: center;">
          Bright Analyst Grows with You!
        </h2>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <div class="col-md-4">
      <h2>Free Website Access</h2>
      <p>Clear and Concise free Notes available on website and on apps. 200+ Question free Bank available on website and on apps.</p>
      <a class="btn btn-primary btn-lg" href="https://1-dot-testscoreservice.appspot.com/">More Info</a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Free Android App.</h2>
      <a  href="https://play.google.com/store/apps/details?id=com.smartcfa.com"><img class="img-responsive img-rounded" src="../../assets/dist/img/GooglePlay.png" style="vertical-align:middle;width:229px;height:72px;"></a>
    </div>
    <!-- /.col-md-4 -->
    <div class="col-md-4">
      <h2>Free Apple IPhone and IPad App.</h2>
      <a  href="https://appsto.re/us/tnoojb.i"><img class="img-responsive img-rounded" src="../../assets/dist/img/AppleStore.jpg" style="vertical-align:middle;width:242px;height:71px;"></a>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

</div>
